<!DOCTYPE html>
<html>
   <body>
   
      <h3>User Registration</h3>

      <h4>
         <a href = "{{ url_for('users') }}">
            Back</a>
      </h4>
      
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
         <label for = "name">Name</label><br>
         <input type = "text" name = "name" placeholder = "John Doe" /><br>
         <label for = "email">Email</label><br>
         <input type = "text" name = "email" placeholder = "johndoe@example.com" /><br>
         <label for = "dob">Date of Birth</label><br>
         <input type = "text" name = "dob" placeholder = "yyyy-mm-dd" /><br>
         <input type = "submit" value = "Submit" />
      </form>
      
   </body>
</html>